/*BANNER*/
#all-css-16-1 {
    crossorigin: anonymous;
    rel: stylesheet;
    href: 'https://s2.wp.com/_static/??-eJytzEEKwjAQRuEL2fyOlqoL8SxNOoToNCkzSaW3t+DCC7j8ePDwXrpQcuVcsUiLKRti2+lZ416UsdLgro7gW5IJXkp4dZK8jrp9ZQhlZYXVTdgFswP+ck3zGPl3fcx3Gm4X6ul8Oj4/rRZCUA==&amp;cssminify=yes';
    type: 'text/css';
    media: 'all'
}
