/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #a3eaee;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 20px;
}

.hero {
    background-image: url('hero-bg.jpg');
    background-size: cover;
    text-align: center;
    /*color: #fff;*/
    padding: 100px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
}

.servicios {
    padding: 40px;
    text-align: center;
}

.servicio {
    margin: 20px;
}

.tarifas {
    background-color: #f3f3f3;
    padding: 40px;
}

.contacto {
    text-align: center;
    padding: 40px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.logo-container {
  position: absolute;
  top: 30px; /* Ajusta la posición vertical según tus preferencias */
  left: 30px; /* Ajusta la posición horizontal según tus preferencias */
}
#icono{
    width: 100px;
    height: auto;
}
.opciones a{
    text-decoration: none;
    text-align: center;
    color: #032b43;
}


/*Botones de opciones*/
.opciones button {
    background: #064169;
    color: white;
    font-family: inherit;
    padding: 0.45em;
    padding-left: 1.0em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3em;
  }
  
  .opciones button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em #5566c2;
  }
  
  .opciones button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #5566c2;
  }


