body{
    background-color:rgb(0, 0, 0);
}
.button-link {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    color: #fff; /* Color del texto transparente */
    text-decoration: none;
    border-radius: 18px;
    transition: background-color 0.3s, color 0.3s; /* Transición de color de fondo y texto */
  }
  
  .button-link:hover {
    background-color: #333333; /* Color de fondo del botón al pasar el ratón */
  }
  