/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #a3eaee;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 20px;
}


.banner{
    text-align: center;
}
.banner img{
    width: 100%;
    display: block;
    filter: blur(3px);
}

.texto_banner{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.texto_imagen_presentativa{
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
}

.servicios {
    padding: 40px;
    text-align: center;
}

.servicio {
    margin: 20px;
}

.tarifas {
    background-color: #f3f3f34b;
    padding: 40px;
}

.contacto {
    text-align: center;
    padding: 40px;
}

.contacto a{
    background-color: #333333;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.logo-container {
  position: absolute;
  z-index: 9999; /* Asigna un valor alto al z-index para que la imagen esté en primer plano */
  top: 25px; /* Ajusta la posición vertical según tus preferencias */
  left: 30px; /* Ajusta la posición horizontal según tus preferencias */
}
#icono{
    width: 115px;
    height: auto;
}
.opciones a{
    text-decoration: none;
    text-align: center;
    color: #032b43;
}

#NY{
    width: 1000px;
    height: auto;
    display: block; /* Ensures the image is treated as a block-level element */
    margin: 0 auto; /* Auto margin horizontally centers the image */
}


/*Botones de opciones*/
.opciones button {
    background: #064169;
    color: white;
    font-family: Arial, sans-serif;
    padding: 0.45em;
    padding-left: 1.0em;
    padding-right: 1.0em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.5em;
    transition: 0.2s;
    cursor: pointer;
  }
  
  .opciones button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em #5566c2;
  }
  
  .opciones button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #5566c2;
  }

/*Botón servicios*/
.button_s {
    display: inline-block;
    padding: 12px 28px;
    margin: 10px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(to bottom right, #00c6ff, #0072ff);
    border: none;
    border-radius: 40px;
    box-shadow: 0px 4px 0px #0072ff;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .button_s:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 0px #0072ff;
  }
  
  .button_s:active {
    transform: translateY(0px);
    box-shadow: none;
    background-image: linear-gradient(to bottom right, #0072ff, #00c6ff);
  }
  
  


